<nav>
  <div class="site-title">
    <a href="/"><h1>STARBUCKS</h1></a>
    <p>one person, one cup and one neighborhood at a time.</p>
  </div>
  <ul>
    <li><a href="/">Reservations</a></li>
    <li><a href="/about">Menu</a></li>
    <li><a href="/reservations/create">New Reservation</a></li>
  </ul>
</nav>