<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>MENU</h2>
    <h3>Drinks</h3>
      <ul>
        <li>Hot Coffees</li>
          <li>Hot Teas</li>
          <li>Hot Drinks</li>
          <li>Frappuccino® Blended Beverages</li>
         <li>Cold Coffees</li> 
          <li>Iced Teas</li>
          <li>Cold Drinks</li>
      </ul>
      <h3>Food</h3>
      <ul>
        <li>Hot Breakfast</li>
          <li> Bakery</li>
          <li> Lunch</li>
          
      </ul>
      <h3>Snacks & Sweets</h3>
      <ul>
        <li>Oatmeal & Yogurt</li>
          <li> At Home Coffee</li>
          <li> Whole Bean</li>
          <li> VIA® Instant</li>
          <li> Verismo® Pods</li>
        </ul>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>





