<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/reservations" method="POST">
      <label for="title">Customer Name</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Table size and Arrival time:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Special requests:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>